.search-bar {
  display: flex;
  gap: 5px;
  justify-content: space-around;
}
.search-bar input {
  padding: 15px 200px 15px 20px;
  background-color: #5acba1;
  border: 1px solid white;
  color: white;
  transition: 0.3s ease;
  border-radius: 5px;
}
.search-icon {
  position: relative;
  top: 15px;
  right: 40px;
  cursor: pointer;
  color: white;
}
