.body-div{
    margin: 20px auto;
}
table {
  display: table;
  width: 80%;
  margin: 15px auto;
  text-align: left;
}

th {
  background-color: #def5ec;
  padding: 20px 20px 20px 20px;
}
td:first-child{
  text-align: center;
}
td {
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #def5ec;
  text-align: left;
  cursor: pointer;
}
   
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .username-section {
    display: flex;
    gap: 15px;
  }
  .username {
    justify-content: center;
    align-self: center;
  }
  #gists-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 50px;
  }
  #gists-icons i {
    justify-content: center;
    align-content: center;
    align-self: center;
    cursor: pointer;
  }
  
  #gists-icons .fa-star,
  .fa-code-branch {
    color: #5acba1;
  }
